.recenzijeTitle {
  margin-top: 10%;
  margin-bottom: 0%;
  margin-right: 0%;
  margin-left: 0%;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 50px;
  color: #ffffff;
  font-family: "agency fb";
  font-size: 400%;
  text-shadow: 2px 2px 4px #000000;
  background-image: url(../../public/bgfooteribg.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 100px;
}

.recenzijeSubtitle {
  margin: 0%;
  text-align: center;
  color: #000d8a;
  font-family: "agency fb";
  font-size: 100%;
  text-shadow: 2px 2px 4px #000000;
}

.recenzijeInput {
  display: block;
  margin: 5% auto;
  text-align: center;
  font-family: "Agency FB", sans-serif;
  font-size: 100%;
  border: 2px solid #000000;
  border-radius: 50px;
  background-color: #000dff;
  color: #000;
  padding: 1%;
  width: 50%;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rating {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  text-align: center;
}

.rating-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}
.rating label:last-child {
  position: static;
}
.rating label:nth-child(1) {
  z-index: 5;
}
.rating label:nth-child(2) {
  z-index: 4;
}
.rating label:nth-child(3) {
  z-index: 3;
}
.rating label:nth-child(4) {
  z-index: 2;
}
.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.rating label .icon {
  float: left;
  color: transparent;
}
.rating label:last-child .icon {
  color: #000;
}
.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}
.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.recenzijeButton {
  display: block;
  margin: 5% auto;
  text-align: center;
  font-family: "Agency FB", sans-serif;
  font-size: 100%;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #000000;
  color: #88b6ff;
  padding: 0%;
  width: 50%;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
}

.contact-form label {
  font-family: "Exo2", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 0;
}
.contact-form input::placeholder,
textarea::placeholder {
  font-weight: 100;
}
