@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.Images {
  margin-top: 100px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: black 10px 10px 10px;
  border: 10px solid #20000091;
  border-radius: 30px;
}
.contact-page {
  background-image: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.5)
    ),
    url(/public/images/contact-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
