---
import MapComponent from "../components/MapComponent";
import { getCollection } from "astro:content";
import type { MapPin } from "../models/map.pin.model";
import PageLayout from "../layouts/PageLayout.astro";

const organizations = await getCollection("organizations");

const pins: MapPin[] = organizations.map((org) => ({
  type: org.data.type,
  title: org.data.title,
  location: org.data.location,
  path: `/organizations/${org.slug}/`,
  img: org.data.heroImage,
}));
---

<PageLayout includeFooter={false}>
  <main>
    <MapComponent client:load {pins} />
  </main>
</PageLayout>

<style>
  main {
    height: 100vh;
    width: 100vw;
  }
</style>
